extends ../../../templates/base

block body
    - var hasIncorrect = typeof incorrect !== 'undefined' ? 'Incorrect username or password.' : ''
    - var hasUnauthorized = typeof unauthorized !== 'undefined' ? 'You are not authorized to view the page you\'re trying to access. Please log in first.' : ''

    section.hero.is-dark
        .hero-body
            if hasIncorrect || hasUnauthorized
                .notification.is-danger
                    | #{hasIncorrect || hasUnauthorized}
            .columns
                .column.is-7
                    .container
                        h1.title ExBPlate
                        h2.subtitle The Official CCIS ExpressJS Boilerplate

                .column
                    form(method="POST" action="/login")
                        .field.is-horizontal
                            .field-label.is-normal
                                label.label.has-text-white E-mail
                            .field-body
                                .field
                                    p.control.is-expanded
                                        input.input(type="email" name="email" placeholder="john.doe@xyz.com")
                        
                        .field.is-horizontal
                            .field-label.is-normal
                                label.label.has-text-white Password
                            .field-body
                                .field
                                    p.control.is-expanded
                                        input.input(type="password" name="password")
                        
                        input.button.is-primary.is-pulled-right(type="submit" value="Log-in")