//- This now serves as the base template, even for the master

html
    head
        // This is the title of the page. Pretty basic.
        title Express Boilerplate

        // Here we import the asset files such as Bulma and FontAwesome.
        // You can use this out of the box. This btw, is an HTML comment
        // in Pug. This will appear in your browser when you render the
        // HTML.
        link(rel="stylesheet" href="/assets/bulma/bulma.css")
        link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css")

    body
        block body